src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
<flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73" >
    <scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd" >
        <scheduling-strategy >
            <fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.startDelay}"/>
        </scheduling-strategy>
    </scheduler>
    <os:retrieve key="syncState" doc:name="Retrieve sync state" objectStore="SchedulerStatus" target="syncState">
        <os:default-value><![CDATA[fromA]]></os:default-value>
    </os:retrieve>
    <choice doc:id="b4703d83-780b-4e2d-bf5d-51b1566d66e2" doc:name="SyncState?">
        <when expression="#[(vars.syncState != 'running' and vars.syncState == 'fromA') or vars.syncState == null]">
            <logger level="INFO" doc:name="running from A" doc:id="c9cd1c27-5978-4ad8-b87f-99da49944447" message="running from A" />
            <os:store key="syncState" doc:name="Set sync state to running" doc:id="340ac5e0-764f-4164-aeaa-14e616987553" objectStore="SchedulerStatus">
                <os:value><![CDATA[running]]></os:value>
            </os:store>
            <flow-ref doc:name="queryFlowA" doc:id="b0c87553-d459-4f12-940c-0f8f19892266" name="queryFlowA" />
            <flow-ref doc:name="fromInstanceAtoInstanceB" doc:id="43633fd4-8ec3-4899-8a82-93b88f816122" name="fromInstanceAtoInstanceB" />


        </when>
        <when expression="#[vars.syncState != 'running' and vars.syncState == 'fromB']">
            <logger level="INFO" doc:name="running from B" doc:id="840599bf-2442-45d6-b66d-fbe11593bd60" message="running from B" />
            <os:store key="syncState" doc:name="Set sync state to running" doc:id="5059b820-0895-4454-9e50-e686d0f07758" objectStore="SchedulerStatus">
                <os:value><![CDATA[running]]></os:value>
            </os:store>
            <flow-ref doc:name="queryFlowB" doc:id="121efa5b-33a7-4c76-aa72-3112507c4c0b" name="queryFlowB" />
            <flow-ref doc:name="fromInstanceBtoInstanceA" doc:id="d8baf0c3-ace8-4d57-80c5-f7ea614d3946" name="fromInstanceBtoInstanceA" />


        </when>
        <otherwise>
            <logger level="INFO" doc:name="Batch running" doc:id="bf955eec-4baf-4836-b7fd-7d77ff5ebcb1" message="Batch running" />
        </otherwise>
    </choice>
    <error-handler >
        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
            <flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow"/>
        </on-error-propagate>
    </error-handler>
</flow>
<flow name="queryFlowA">
    <os:retrieve key="watermark" objectStore="watermarkStoreA" target="lastQueryDateA" doc:name="Retrieve lastQueryDateA">
        <os:default-value><![CDATA[${watermark.default.expression}]]></os:default-value>
    </os:retrieve>
    <logger level="INFO" doc:name="Query Customer with filtering criteria from SAP" doc:id="6b2f8f74-396e-4cd7-baa4-535444b0d502" />
    <os:store key="watermark" failOnNullValue="false" objectStore="watermarkStoreA" doc:name="Store lastQueryDateA">
        <os:value><![CDATA[#[max(payload map $.LastModifiedDate)]]]></os:value>
    </os:store>
</flow>
<flow name="queryFlowB">
    <os:retrieve key="watermark" objectStore="watermarkStoreB" target="lastQueryDateB" doc:name="Retrieve lastQueryDateB">
        <os:default-value><![CDATA[${watermark.default.expression}]]></os:default-value>
    </os:retrieve>
    <logger level="INFO" doc:name="Query Customer with filtering criteria from Salesforce" doc:id="bdaa005e-a184-4fdd-aeb9-787fd3762a29" />
    <os:store key="watermark" failOnNullValue="false" objectStore="watermarkStoreB" doc:name="Store lastQueryDateB">
        <os:value><![CDATA[#[max(payload map $.LastModifiedDate)]]]></os:value>
    </os:store>
</flow>
</mule>

        