src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      version="EE-3.5.2"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <data-mapper:config name="XML_To_Accountd" transformationGraphPath="xml_to_account.grf" doc:name="XML_To_Account"/>
    <data-mapper:config name="customer_to_account" transformationGraphPath="customer_to_account.grf" doc:name="customer_to_account"/>


	<!-- 	In this file you should declare all your inbound endpoints and from here controll the access to your application -->

    
    
    <flow name="triggerSyncFromSapFlow" doc:name="triggerSyncFromSapFlow" processingStrategy="synchronous" >
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="1000" />
			<watermark variable="sapLastQueryDate" default-expression="${watermark.default.expression.sap}" selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
            <processor-chain doc:name="Processor Chain">
                <expression-component doc:name="Acquire lock"><![CDATA[app.registry['PollSynchronizer'].lock();]]></expression-component>
                <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="ZMULE_CUSTOMER_GETLIST" xmlVersion="2" outputXml="true" evaluateFunctionResponse="true" responseTimeout="10000" doc:name="query customers from SAP">
                    <sap:definition><![CDATA[<ZMULE_CUSTOMER_GETLIST>
  	<import>
  		<I_FROM_DATE>#[flowVars['sapLastQueryDate']]</I_FROM_DATE>
  	</import>
	</ZMULE_CUSTOMER_GETLIST>
]]></sap:definition>

                </sap:outbound-endpoint>
                <data-mapper:transform config-ref="customer_to_account" doc:name="customer to account"/>
            </processor-chain>

		</poll>
        <logger message="sapLastQueryDate #[flowVars['sapLastQueryDate']] #[payload.size()]" level="INFO" doc:name="Logger"/>
        <batch:execute name="fromSapToSalesforceBatch" doc:name="execute fromSapToSalesforceBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>

    </flow>

    <flow name="triggerSyncFromSalesforceFlow" doc:name="triggerSyncFromSalesforceFlow" processingStrategy="synchronous" >
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="1000" />
			<watermark variable="salesforceLastQueryDate" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
            <processor-chain doc:name="Processor Chain">
                <expression-component doc:name="Acquire lock"><![CDATA[app.registry['PollSynchronizer'].lock();]]></expression-component>
                <sfdc:query config-ref="Salesforce" query="dsql:SELECT AccountNumber, LastModifiedById, LastModifiedDate, Name, NumberOfEmployees, BillingCity, BillingStreet, BillingState, BillingPostalCode FROM Account WHERE LastModifiedDate &gt; #[flowVars['salesforceLastQueryDate']] ORDER BY LastModifiedDate ASC LIMIT 200" doc:name="query accounts from Salesforce"/>
            </processor-chain>

		</poll>
        <logger message="salesforceLastQueryDate #[flowVars['salesforceLastQueryDate']] #[payload.size()]" level="INFO" doc:name="Logger"/>
        <batch:execute name="fromSalesforceToSapBatch" doc:name="execute fromSalesforceToSapBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>

    </flow>

</mule>


<!-- working all

	<import>
		<field name="MAXROWS"></field>
	</import>
  	<tables>
	    <table name="IDRANGE">
	      <row id="0">
				<field name="SIGN">I</field>
				<field name="OPTION">CP</field>
				<field name="LOW">*</field>
				<field name="HIGH"></field>
	      </row>
	    </table>		
	</tables>
-->
